@media (min-width: 125em) {
  html {
    font-size: 68.75%;
  }
}

@media (min-width: 143em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 106em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 85em) {
  .nav_list {
    position: static;
    transform: translate(0, 0);
  }
}

@media (max-width: 75em) {
  .main_nav {
    padding: 3.2rem 4.8rem;
  }

  /* =================mobile navigation================= */
  /* =================================================== */
  .nav_open.main_nav {
    position: fixed;
  }

  .nav_list {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(225, 255, 255);
    backdrop-filter: blur(1rem);
    height: max-content;
    padding: 12.8rem 4.8rem 4.8rem;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    transform: translate(0, -100%);
    transition: all 0.3s ease-in;
  }

  .nav_open .nav_list {
    transform: translate(0, 0);
  }

  .nav_home_container {
    flex-direction: column;
    border: none;
    border-radius: 0;
    padding: 0;
    gap: 3.2rem;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .mobile_nav_btn {
    display: flex;
  }

  .nav_open i[name="close"] {
    display: flex;
    color: var(--primary_red);
  }

  .nav_open i[name="menu"] {
    display: none;
  }
  /* ================================================= */

  .footer {
    padding: 8rem 4.8rem;
  }
}
