@media (min-width: 125em) {
  html {
    font-size: 68.75%;
  }
}

@media (min-width: 143em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 106em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 85em) {
  .nav_list {
    position: static;
    transform: translate(0, 0);
  }
}

@media (max-width: 81.25em) {
  .main_nav {
    padding: 2.4rem 4.8rem;
    justify-content: flex-start;
  }

  .logo {
    margin-left: auto;
  }

  .btn_set_appointment {
    margin-left: 4.8rem;
  }

  /* =================mobile navigation================= */
  /* =================================================== */
  .nav_open.main_nav {
    position: fixed;
  }

  .nav_list {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(225, 255, 255);
    backdrop-filter: blur(1rem);
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
    height: max-content;
    padding: 12.8rem 4.8rem 4.8rem;
    width: 100%;
    flex-direction: column;
    align-items: baseline;
    transform: translate(0, -100%);
    transition: all 0.3s ease-in;
  }

  .nav_open .nav_list {
    transform: translate(0, 0);
  }

  .nav_home_container {
    flex-direction: column;
    border: none;
    border-radius: 0;
    padding: 0;
    gap: 3.2rem;
  }

  .mobile_nav_btn {
    display: flex;
  }

  .nav_open i[name="close"] {
    display: flex;
    color: var(--primary_red);
  }

  .nav_open i[name="menu"] {
    display: none;
  }
  /* ================================================= */

  .footer {
    padding: 8rem 4.8rem;
  }
}

/* width less than 960px */
@media (max-width: 60em) {
  /* -----------------FOOTER----------------- */
  .footer_container {
    /* background-color: royalblue; */
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "logo sect1"
      "logo sect2"
      "logo sect3"
      "copyright copyright";
    row-gap: 6rem;
    column-gap: 5rem;
  }

  .footer_nav_list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer_location_box,
  .footer_phone_box {
    flex-direction: row;
    align-items: center;
  }
}

/* max width 600px */
@media (max-width: 37.5em) {
  /* ----------------FOOTER---------------- */
  .footer_container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "logo"
      "sect1"
      "sect2"
      "sect3"
      "copyright";
    row-gap: 6rem;
    column-gap: 0;
  }

  .footer_contact_link {
    font-size: 1.6rem;
  }
}

/* max width 500px */
@media (max-width: 32em) {
  /* ---------------GENERAL PADDING--------------- */
  .main_nav {
    padding: 2.4rem;
  }

  .main_nav .nav_link:is(:link, :visited) {
    font-size: 2.4rem;
  }

  .btn_set_appointment {
    font-size: 2rem;
  }

  .nav_list .btn_set_appointment {
    display: inline-block;
    margin-left: 0;
  }

  .mobile_nav_btn + .btn_set_appointment {
    display: none;
  }

  .footer {
    padding: 8rem 2.4rem;
  }
}

/* Max width 400px */
@media (max-width: 25em) {
  html {
    font-size: 43.75%;
  }

  .highlight_txt {
    display: none !important;
  }
}
