@media (min-width: 125em) {
  html {
    font-size: 68.75%;
  }
}

@media (min-width: 143em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 106em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 75em) {
  .main_nav {
    padding: 0 4.8rem;
  }

  .footer {
    padding: 8rem 4.8rem;
  }
}
