@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --primary_red: #c73d31;
  --primary_orange: #c75531;
  --primary_light: #e1e6eb;
  --primary_dark: #1f1b1a;
  --lite_red: rgba(255, 192, 184);
  --lite_blue: rgba(184, 212, 255);
  --gray_1: #595959;
  --gray_2: #ababab;
  --gray_3: #6c6c6c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

section {
  overflow: hidden;
}

.i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===============COMMON STYLES ANS LAYOUT=============== */

/* -------------Main Navigation------------- */
.main_nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 8rem;
  z-index: 1;
}

.main_nav div {
  padding: 3.2rem 0;
  /* border-bottom: 0.2rem solid var(--gray_2); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: max-content;
  list-style: none;
  gap: 3.2rem;
}

.nav_link:is(:link, :visited) {
  display: flex;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.136rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray_1);
}

.btn_contact {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.136rem;
  padding: 1.6rem 3.2rem;
  border-radius: 0.4rem;
  background: linear-gradient(to right, rgba(199, 85, 49), rgba(199, 61, 49));
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.1);
  color: var(--primary_light);
}

/* ////////////////////////////////////////////////// */
/* //////////// Footer section ////////////////////// */
/* ////////////////////////////////////////////////// */

.footer {
  background: var(--primary_dark);
  padding: 8rem 8rem;
}

.footer_container {
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo sect1 sect2 sect3"
    "copyright copyright copyright copyright";
  row-gap: 6rem;
  column-gap: 5rem;
}

.footer_section_heading {
  color: var(--lite_blue);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: 0.168rem;
}

.footer_logo {
  grid-area: logo;
  color: var(--primary_light);
}

.footer_nav_section {
  grid-area: sect1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer_nav_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_nav_list .nav_link:is(:link, :visited) {
  color: var(--gray_2);
}

.footer_contact_section {
  grid-area: sect2;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer_contact_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
  /* background-color: dodgerblue; */
}

.footer_location_box,
.footer_phone_box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1.2rem;
}

.footer_location_box .icon {
  height: 3.2rem;
  color: var(--gray_2);
}

.footer_phone_box .icon {
  width: 3.2rem;
  color: var(--gray_2);
}

.footer_contact_link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.136rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray_2);
}

.footer_social_section {
  grid-area: sect3;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer_social_container {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.footer_social_container .icon {
  height: 3.6rem;
  color: var(--gray_2);
}

.copyright {
  grid-area: copyright;
  color: var(--gray_3);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.112rem;
}
