@media (max-width: 75em) {
  .section_gift_certificate {
    padding: 12rem 4.8rem;
  }
}

@media (max-width: 60em) {
  .gift_certificate_container {
    max-width: 76.8rem;
  }
  .gift_certificate_container_heading {
    width: 100%;
    font-size: 6.4rem;
  }

  .gift_card_img {
    max-width: 60rem;
  }

  .btn_buy_gift {
    font-size: 2rem;
    padding: 2rem 4rem;
  }

  .timing_container h2 {
    font-size: 2rem;
  }

  .gift_card_terms {
    font-size: 2rem;
    word-spacing: 0.2rem;
  }

  .section_gift_certificate .icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  .timing_container {
    gap: 4.8rem;
  }
}

/* max width 600px */
@media (max-width: 37.5em) {
  .gift_certificate_container_heading {
    font-size: 4.8rem;
    letter-spacing: 0.2rem;
  }

  .gift_certificate_container {
    gap: 3.2rem;
  }

  .gift_certificate_container {
    gap: 6.4rem;
  }
}

@media (max-width: 34em) {
  .timing_container {
    gap: 2.4rem;
  }

  .timing_container div {
    gap: 0.8rem;
  }
}

@media (max-width: 32em) {
  .section_gift_certificate {
    padding: 13rem 2.4rem 10rem;
  }

  .gift_card_img {
    max-width: 50rem;
  }

  .timing_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "btn_buy btn_buy"
      "day time";
    gap: 0;
    row-gap: 2.4rem;
    column-gap: 6.4rem;
  }

  .btn_buy_gift {
    grid-area: btn_buy;
    margin: 0 auto;
  }

  .time {
    grid-area: time;
  }
  .day {
    grid-area: day;
  }

  .gift_card_terms {
    font-size: 1.6rem;
  }
}

@media (max-width: 27em) {
  .gift_card_terms {
    font-size: 2rem;
  }
}
