@media (min-width: 125em) {
  html {
    font-size: 68.75%;
  }
}

@media (min-width: 143em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 106em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 75em) {
  .section_gift_certificate {
    padding: 12rem 4.8rem;
  }
}

@media (max-width: 60em) {
  .gift_certificate_container {
    max-width: 76.8rem;
  }
  .gift_certificate_container_heading {
    width: 100%;
    font-size: 6.4rem;
  }

  .btn_buy_gift {
    font-size: 1.6rem;
    padding: 1.6rem;
  }

  .timing_container h2 {
    font-size: 1.6rem;
  }

  .gift_card_terms {
    font-size: 1.6rem;
    word-spacing: 0.5rem;
  }

  .section_gift_certificate .icon {
    height: 2.4rem;
    width: 2.4rem;
  }

  .timing_container {
    gap: 4.8rem;
  }
}
