@media (max-width: 106em) {
  .contact_container {
    grid-template-columns: minmax(60rem, 2fr) 3fr;
  }
}

@media (max-width: 85em) {
  .header_container {
    width: calc(100% - 16rem);
    margin: 0;
  }
}

@media (max-width: 75em) {
  .header_container {
    width: calc(100% - 9.6rem);
  }

  header .highlight_txt {
    font-size: 19.6rem;
  }
  /* setting the general padding left right */

  .section_hero {
    padding: 0 4.8rem;
  }

  .section_about {
    padding: 12rem 4.8rem;
  }

  .section_service {
    padding: 12rem 4.8rem 8rem;
  }

  .section_gallery {
    padding: 10rem 4.8rem 12rem 4.8rem;
  }

  .section_testimonial {
    padding: 12rem 4.8rem;
  }

  .section_contact {
    padding: 12rem 4.8rem;
  }

  /* ---------------------------------------- */

  /* Section Service */
  .service_img_container__1 {
    width: 75rem;
  }

  .line__2::after {
    font-size: 1.6rem;
  }

  .indicator__3 .line__2 {
    width: 17rem;
  }

  /* Section Contact */
  .contact_container {
    grid-template-columns: max-content 1fr;
    column-gap: 6.4rem;
  }

  .global_map_container {
    display: flex;
    align-items: center;
  }

  .global_map {
    height: auto;
    width: 100%;
  }
}

/* width less than 960px */
@media (max-width: 60em) {
  /* --------------HERO SECTION-------------- */
  header .highlight_txt {
    font-size: 14.4rem;
  }

  .section_hero {
    max-width: 76.8rem;
    margin: 0 auto;
  }

  .main_heading {
    width: 100%;
    font-size: 9.6rem;
  }

  /* -------------ABOUT SECTION------------- */
  .about_container {
    max-width: 76.8rem;
  }

  .section_about .highlight_txt {
    font-size: 12.8rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .about_container__1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    column-gap: 0;
    row-gap: 8rem;
  }

  .about_txt_container {
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_about .section_title {
    margin-top: 4.8rem;
  }

  .about_txt {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 1.6rem;
  }

  .btn_contact {
    margin-top: 8rem;
  }

  .about_img_container {
    grid-column: 1/1;
    grid-row: 2/2;
    max-width: 70rem;
    margin: 0 auto;
  }

  .about_summery_container {
    grid-column: 1/1;
    grid-row: 3/3;
    gap: 2.4rem;
    justify-content: space-evenly;
  }

  .about_summery_container .box {
    gap: 1.6rem;
  }

  .about_summery_container .num {
    font-size: 6.4rem;
  }

  .about_summery_container .line {
    height: 4rem;
  }

  .about_summery_container .txt {
    font-size: 1.6rem;
  }

  /* ---------------SERVICE SECTION--------------- */
  .service_container {
    max-width: 76.8rem;
  }

  .section_service .highlight_txt {
    font-size: 12.8rem;
  }

  .service_img_container {
    padding: 10rem;
  }

  .service_img_container__1 {
    width: 100%;
  }

  /* indicators of the service section */
  .indicator__1 .line__1 {
    width: 10rem;
  }

  .indicator__2 .line__1 {
    width: 5rem;
  }

  .indicator__3 .line__1 {
    width: 4rem;
  }
  .indicator__3 .line__2 {
    width: 12rem;
  }

  .indicator__4 .line__1 {
    width: 8rem;
    transform: translateY(-50%) rotate(115deg);
  }
  .indicator__4 .line__2 {
    transform: translateY(-50%) rotate(-115deg);
  }

  .indicator__5 .line__1 {
    transform: translateY(-50%) rotate(45deg);
  }
  .indicator__5 .line__2 {
    transform: translateY(-50%) rotate(-45deg);
  }

  .indicator__6 {
    bottom: 23.34%;
    right: 53.52%;
  }
  .indicator__6 .line__1 {
    width: 8rem;
  }
  .indicator__6 .line__2::after {
    content: "tire and rim cleaning";
  }

  .indicator__7 {
    bottom: 16.4%;
    right: 12.47%;
  }
  .indicator__7 .line__2::after {
    content: "tire shining";
  }

  .indicator__8 {
    top: 35%;
    right: 30%;
  }
  .indicator__8 .line__1 {
    transform: translateY(-50%) rotate(-60deg);
  }
  .indicator__8 .line__2 {
    transform: translateY(-50%) rotate(60deg);
  }

  /* --------------GALLERY SECTION-------------- */
  .gallery_container {
    max-width: 76.8rem;
    height: calc(40rem + 18rem);
  }

  .section_gallery .highlight_txt {
    font-size: 12.8rem;
  }

  .gallery_img {
    height: 40rem;
    width: 66rem;
  }

  .btn_gallery {
    top: 50%;
    left: auto;
    height: 5.5rem;
    width: 7rem;
    border: 0.3rem solid var(--primary_light);
  }

  .btn_gallery .icon {
    stroke-width: 0.2rem;
  }

  .btn_gallery.left {
    left: 0;
    transform: translate(0, 0);
  }
  .btn_gallery.right {
    right: 0;
    transform: translate(0, 0);
  }

  /* ------------SECTION TESTIMONIAL------------ */
  .testimonial_container {
    max-width: 76.8rem;
    padding-top: 10rem;
  }

  .testimonial_container___2 {
    width: 100%;
    padding: 3rem 3.2rem;
    gap: 6.4rem;
  }

  .review_box {
    padding: 3.6rem;
  }

  .client_review {
    font-size: 2rem;
  }

  .testimonial_container .highlight_txt {
    font-size: 12.8rem;
    top: -2rem;
  }

  .section_testimonial .section_title {
    top: -3rem;
  }

  /* ---------------SECTION CONTACT--------------- */
  .contact_container {
    max-width: 76.8rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 0;
    row-gap: 8rem;
  }

  .section_contact .highlight_txt {
    font-size: 12.8rem;
  }

  .section_contact .section_title {
    top: -3rem;
  }

  .contact_form_container {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .contact_location_container {
    grid-column: 1/1;
    grid-row: 2/2;
  }
}

/* ===============MAX WIDTH 700PX=============== */
@media (max-width: 37.5em) {
  .header_container {
    width: 100%;
  }

  header .highlight_txt {
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(100% + 9rem));
  }
  /* --------------HERO SECTION-------------- */
  .header_container {
    padding: 15rem 0;
  }

  header .highlight_txt {
    font-size: 9.6rem;
  }

  .section_hero .main_heading {
    font-size: 6.4rem;
    letter-spacing: 0.32rem;
  }

  .section_hero .i {
    margin: 2.4rem auto 0;
  }

  .customer_count {
    font-size: 1.6rem;
  }

  .customer_count_container .red_line {
    width: 3.2rem;
  }

  /* ---------------ABOUT SECTION--------------- */
  .section_about {
    padding: 10rem 4.5rem;
  }

  /* --------------SERVICE SECTION-------------- */
  .section_service {
    display: none;
  }

  /* --------------GALLERY SECTION-------------- */
  .section_gallery {
    padding: 10rem 4.8rem;
  }

  .section_gallery .highlight_txt {
    font-size: 9.6rem;
  }

  .section_gallery .section_title {
    top: -5rem;
  }

  .gallery_img {
    height: 66.66vw;
    width: 100%;
  }

  .btn_gallery {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0.5rem);
  }

  /* -------------SECTION TESTIMONIAL------------- */
  .section_testimonial {
    padding: 10rem 0;
  }
  .section_testimonial .highlight_txt {
    font-size: 9.6rem;
  }

  .testimonial_container {
    padding-top: 8rem;
  }

  .testimonial_container .section_title {
    top: -5rem;
  }

  /* ---------------SECTION CONTACT--------------- */
  .section_contact .highlight_txt {
    font-size: 9.6rem;
  }

  .section_contact .section_title {
    top: -5rem;
  }
}

/* max width 500px */
@media (max-width: 32em) {
  /* ---------------GENERAL PADDING--------------- */
  .section_hero {
    padding: 0 2.4rem;
  }
  .section_about {
    padding: 8rem 2.4rem 10rem;
  }

  .section_gallery {
    padding: 10rem 2.4rem;
  }

  .section_contact {
    padding: 10rem 2.4rem;
  }

  .contact_heading {
    font-size: 4.8rem;
  }

  .customer_count_container {
    left: 4rem;
  }
}

/* max width 464px */
@media (max-width: 29em) {
  .section_about .highlight_txt {
    font-size: 8rem;
  }
  .section_about .section_title {
    margin-top: 2.4rem;
  }

  .section_heading {
    font-size: 4.8rem;
  }
  .contact_form_container {
    padding: 4.8rem 2.4rem 2.4rem;
  }

  .review_box {
    padding: 2.4rem;
  }

  .client_name {
    font-size: 2.4rem;
  }

  .client_review {
    font-size: 1.6rem;
    word-spacing: 0.1rem;
  }
}
