@media (max-width: 106em) {
  .contact_container {
    grid-template-columns: minmax(60rem, 2fr) 3fr;
  }
}

@media (max-width: 85em) {
  .header_container {
    width: calc(100% - 16rem);
    margin: 0;
  }
}

@media (max-width: 75em) {
  .header_container {
    width: calc(100% - 9.6rem);
  }

  header .highlight_txt {
    font-size: 19.6rem;
  }
  /* setting the general padding left right */

  .section_hero {
    padding: 0 4.8rem;
  }

  .section_about {
    padding: 12rem 4.8rem;
  }

  .section_service {
    padding: 12.8rem 4.8rem;
  }

  .section_gallery {
    padding: 10rem 4.8rem 12rem 4.8rem;
  }

  .section_testimonial {
    padding: 12rem 4.8rem;
  }

  .section_contact {
    padding: 12rem 6.4rem;
  }

  /* ---------------------------------------- */

  /* --------service text positioning-------- */
  .service_img {
    width: 75rem;
  }

  .indicator__1 {
    left: 11.2rem;
  }

  .indicator__2 {
    top: 6.4rem;
    left: -12.2rem;
  }

  .indicator__3 {
    left: -21.2rem;
  }

  .indicator__4 {
    left: -14.4rem;
  }

  .indicator__5 {
    right: 6.9rem;
  }

  .indicator__6 {
    right: -16rem;
  }

  .indicator__7 {
    right: -22rem;
  }

  .indicator__8 {
    right: -17rem;
  }

  /* Indicator line 2 */
  .indicator__1 .line__2 {
    width: 13rem;
    transform: translateX(100%) rotate(50deg);
  }

  .indicator__2 .line__2 {
    width: 13rem;
  }

  .indicator__3 .line__2 {
    width: 16rem;
  }

  .indicator__4 .line__2 {
    width: 12rem;
    transform: translateX(100%) rotate(-40deg);
  }

  .indicator__5 .line__2 {
    width: 23rem;
  }

  .indicator__7 .line__2 {
    width: 8rem;
    transform: translateX(-100%) rotate(-40deg);
  }

  .contact_container {
    grid-template-columns: max-content 1fr;
    column-gap: 6.4rem;
  }

  .global_map_container {
    display: flex;
    align-items: center;
  }

  .global_map {
    height: auto;
    width: 100%;
  }
}

/* width less than 960px */
@media (max-width: 60em) {
  /* Hero Section============================ */
  .header_container {
    width: 100%;
  }

  header .highlight_txt {
    font-size: 16.8rem;
  }

  .main_heading {
    font-size: 9.6rem;
    width: auto;
    max-width: 83rem;
  }

  .hero_img {
    max-width: 100%;
    height: auto;
  }

  .customer_count_container {
    left: 4.8rem;
  }

  /* About section============================ */
  .section_about .highlight_txt {
    font-size: 16.8rem;
  }

  .about_container__1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    margin: 0 auto;
    row-gap: 4.8rem;
  }

  .about_txt_container {
    grid-column: 1/1;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_img_container {
    grid-column: 1/1;
    grid-row: 2/2;
    width: 100%;
    margin: 0 auto;
  }

  .about_summery_container {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  .about_txt {
    font-size: 2.4rem;
    text-align: center;
  }

  .section_about .highlight_txt {
    left: 50%;
    transform: translateX(-50%);
  }

  .section_about {
    padding: 8rem 4.8rem;
  }

  .about_container {
    max-width: 85rem;
  }

  .about_summery_container {
    margin-top: 6.4rem;
  }

  .about_summery_container .num {
    font-size: 6.4rem;
  }

  .about_summery_container .line {
    height: 4rem;
  }

  .about_summery_container .txt {
    font-size: 1.6rem;
  }

  /* Gallery Section============================= */

  .gallery_container {
    height: calc(40rem + 18rem);
  }

  .section_gallery .highlight_txt {
    font-size: 16.8rem;
  }

  .gallery_img {
    height: 40rem;
    width: 76rem;
  }

  .btn_gallery.left {
    transform: translate(calc(-50% - 40rem), calc(-50% + 3rem));
  }

  .btn_gallery.right {
    transform: translate(calc(-50% + 40rem), calc(-50% + 3rem));
  }

  /* Service Section===================================== */
  .section_service .highlight_txt {
    font-size: 16.8rem;
  }

  .service_img {
    display: block;
    width: 60rem;
    height: auto;
  }

  .indicators .ind_txt {
    font-size: 1.6rem;
  }

  /* positioning indicators */
  .indicator__1 {
    top: 0;
    left: -7.4rem;
  }
  .indicator__2 {
    top: 8rem;
    left: -10rem;
  }
  .indicator__3 {
    top: 16rem;
    left: -12rem;
  }
  .indicator__4 {
    bottom: 6rem;
    left: -10rem;
  }
  .indicator__5 {
    bottom: 5rem;
    right: -8rem;
  }
  .indicator__6 {
    bottom: auto;
    top: 12rem;
    right: -12rem;
  }
  .indicator__7 {
    top: auto;
    bottom: 0;
    right: 7rem;
  }
  .indicator__8 {
    top: 0;
    right: -8rem;
  }

  /* positioning lines */
  .indicator__6 .line__1 {
    top: auto;
    bottom: -0.8rem;
  }

  .indicator__7 .line__1 {
    top: -0.8rem;
  }

  /* positioning indicator line__2 */
  .indicator__1 .line__2 {
    width: 14rem;
  }

  .indicator__2 .line__2 {
    transform: translateX(100%) rotate(40deg);
    width: 10rem;
  }

  .indicator__3 .line__2 {
    transform: translateX(100%) rotate(26deg);
    width: 8rem;
  }

  .indicator__4 .line__2 {
    top: -0.8rem;
    width: 16rem;
  }

  .indicator__5 .line__2 {
    top: -0.8rem;
    width: 13rem;
  }

  .indicator__6 .line__2 {
    transform: translateX(-100%) rotate(-45deg);
    top: auto;
    bottom: -0.8rem;
    width: 10rem;
  }
  .indicator__7 .line__2 {
    transform: translateX(-100%) rotate(50deg);
    bottom: auto;
    top: -0.8rem;
    width: 15rem;
  }

  .indicator__8 .line__2 {
    width: 20rem;
  }

  /* Testimonial Section================================= */
  .testimonial_container {
    max-width: 74rem;
  }

  .testimonial_container___2 {
    display: flex;
    width: auto;
    max-width: 74rem;
    padding: 3rem 3.2rem;
    overflow-x: hidden;
    margin: 0 auto;
    gap: 6.4rem;
  }

  .section_testimonial .highlight_txt {
    font-size: 16.8rem;
  }

  /* Contact Section====================================== */
  .contact_container {
    max-width: 74rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    column-gap: 0;
    row-gap: 16rem;
  }

  .section_contact .highlight_txt {
    font-size: 16.8rem;
  }

  .contact_form_container {
    grid-row: 1/1;
  }

  .contact_location_container {
    grid-column: 1/1;
    grid-row: 2/2;
  }
}
