/* //////////////////////////////////////////// */
/* -------------------Header------------------- */
/* //////////////////////////////////////////// */
header {
  background: var(--primary_light);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* height: 100vh; */
}

.header_container {
  position: relative;
  width: 150rem;
  margin: 0 auto;
  padding: 20rem 0 15rem 0;
  /* background-color: darkseagreen; */
}

/* Header background shapes and texts */
header .highlight_txt {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 1rem), -75%);
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 25.6rem;
  letter-spacing: 2.176rem;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.shape_1 {
  display: inline-block;
  position: absolute;
  background: var(--lite_blue);
  top: -10rem;
  left: 9.6rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  filter: blur(20rem);
  z-index: 0;
}

.shape_2 {
  display: inline-block;
  position: absolute;
  background: var(--lite_red);
  bottom: 10rem;
  right: -16.8rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  filter: blur(20rem);
  z-index: 0;
}

/* -------------- Section Hero -------------- */
.section_hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  height: 100%;

  z-index: 2;
  /* background-color: crimson; */
}

.main_heading {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 12.8rem;
  font-weight: 500;
  letter-spacing: 1.024rem;
  width: 83rem;
  text-align: center;
  line-height: 0.9;
  color: var(--primary_dark);
}

.hero_img {
  width: 99rem;
  height: auto;
}

/* User count container */
.customer_count_container {
  position: absolute;
  bottom: 6.4rem;
  left: 6.7rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.customer {
  display: inline-block;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  border: 0.5rem solid var(--primary_light);
  background-size: cover;
  margin-left: -2rem;
}
.customer__1 {
  background-image: url(../assets/1.jpg);
}
.customer__2 {
  background-image: url(../assets/2.jpg);
}
.customer__3 {
  background-image: url(../assets/3.jpg);
}
.customer__4 {
  background-image: url(../assets/4.jpg);
}
.customer__5 {
  background-image: url(../assets/5.jpg);
}

/* customer count text */
.customer_count {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary_dark);
}
.customer_count .first_word {
  color: var(--primary_red);
}
.customer_count_container .red_line {
  display: inline-block;
  background: var(--primary_red);
  height: 0.25rem;
  width: 4.8rem;
  border-radius: 1.5rem;
  margin-top: 0.5rem;
}

.section_hero .i {
  margin: 4.8rem auto 0 auto;
}

.section_hero .icon {
  width: 3rem;
  stroke-width: 0.2rem;
  color: var(--primary_orange);
}

/* //////////////////////////////////////////// */
/* ---------------About Section --------------- */
/* //////////////////////////////////////////// */
.section_about {
  position: relative;
  width: 100%;
  padding: 12rem 0;
  overflow: hidden;
}

.about_container {
  position: relative;
  width: 150rem;
  margin: 0 auto;
}

/* about heighlight texts and shapes */
.section_about .highlight_txt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary_light);
  text-transform: uppercase;
  font-size: 19.6rem;
  line-height: 1;
  letter-spacing: 1.666rem;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.section_about .shape_3 {
  position: absolute;
  left: -32rem;
  bottom: -24rem;
  width: 79rem;
  height: 79rem;
  border-radius: 50%;
  background: var(--lite_blue);
  filter: blur(30rem);
  z-index: 0;
}

.section_about .shape_4 {
  position: absolute;
  right: -19rem;
  top: -5rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  background: var(--lite_blue);
  filter: blur(20rem);
  z-index: 0;
}

.section_about .shape_5 {
  position: absolute;
  right: 26rem;
  top: -9rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  background: var(--lite_red);
  filter: blur(20rem);
  z-index: 0;
}

/* main about section */
.about_container__1 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 68.5rem;
  grid-template-rows: auto auto;
  column-gap: 8rem;
  row-gap: 12rem;
  z-index: 2;
}

/* about text container */
.about_txt_container {
  grid-column: 1/1;
}

.section_about .section_title {
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.168rem;
  font-weight: 400;
  color: var(--primary_red);
  margin-top: 7rem;
  text-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
}

.section_heading {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 6.4rem;
  letter-spacing: 0.32rem;
  font-weight: 400;
  color: var(--primary_dark);
  line-height: 1;
  margin-top: 2rem;
}

.about_txt {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray_3);
  margin-top: 1.6rem;
}

.section_about .btn_contact {
  color: var(--primary_dark);
  border: 0.3rem solid var(--primary_dark);
  font-weight: 600;
  background: transparent;
  margin-top: 4.8rem;
  box-shadow: none;
}

/* about image container */
.about_img_container {
  grid-column: 2/2;
  position: relative;
  width: 100%;
}

.about_shape_1 {
  position: relative;
  width: 100%;
  fill: var(--lite_blue);
  opacity: 0.45;
}

.about_shape_2 {
  position: absolute;
  left: 0;
  top: 3.6rem;
  width: 100%;
  filter: drop-shadow(0.7rem 0 2rem rgba(0, 0, 0, 0.25));
  transform: rotate(185deg);
}

.about_shape_3 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 3.6rem;
  transform: rotate(8deg) scale(0.94) translateX(0.5rem);
  fill: coral;
  z-index: 3;
  clip-path: url(#shape-clip);
}

/* about summery container */
.about_summery_container {
  grid-column: 1/3;
  grid-row: 2/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_summery_container .box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  text-transform: uppercase;
}

.about_summery_container .num {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  line-height: 1;
  font-weight: 400;
  color: var(--primary_red);
}

.about_summery_container .line {
  width: 0.2rem;
  height: 5rem;
  border-radius: 0.3rem;
  background: var(--gray_2);
}

.about_summery_container .txt {
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray_3);
  line-height: 1.3;
}

/* //////////////////////////////////////////// */
/* --------------Service section -------------- */
/* //////////////////////////////////////////// */
.section_service {
  position: relative;
  background: var(--primary_light);
  padding: 12.8rem 0;
  overflow: hidden;
}

.service_container {
  position: relative;
  width: 150rem;
  margin: 0 auto;
}

/* service section highlight text and shapes */
.section_service .highlight_txt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 19.6rem;
  line-height: 1;
  letter-spacing: 1.666rem;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.section_service .shape_6 {
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  filter: blur(25rem);
  background: var(--lite_red);
  position: absolute;
  bottom: -7.7rem;
  left: -28rem;
  z-index: 1;
}

.section_service .shape_7 {
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  filter: blur(25rem);
  background: var(--lite_blue);
  position: absolute;
  top: -7rem;
  right: -14.5rem;
  z-index: 1;
}

.service_container__1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10rem; */
  z-index: 3;
}

.service_img_container {
  position: relative;
  width: 100%;
}

.section_service picture {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin: 0 auto;
  padding: 10rem 0;
  /* background-color: dodgerblue; */
}

.service_img {
  display: block;
  width: 85rem;
  height: auto;
}

/* indicators of the service section */
/* ////////////////////////////////////////////////// */
.indicators {
  position: absolute;
  display: inline-block;
}

.indicators .ind_txt {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  color: var(--primary_orange);
  opacity: 0.8;
  /* text-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.17); */
}

.indicators .lines {
  display: inline-block;
  position: absolute;
  height: 0.2rem;
  background: var(--gray_2);
  border-radius: 1rem;
}

/* positioning indicators */
.indicator__1 {
  top: 0;
  left: 48rem;
}
.indicator__2 {
  top: 6rem;
  left: 14.8rem;
}
.indicator__3 {
  top: 18rem;
  left: 5rem;
}
.indicator__4 {
  bottom: 7.9rem;
  left: 12.6rem;
}
.indicator__5 {
  bottom: 0;
  right: 44rem;
}
.indicator__6 {
  bottom: 6rem;
  right: 12.3rem;
}
.indicator__7 {
  top: 20rem;
  right: 5rem;
}
.indicator__8 {
  top: 4rem;
  right: 12rem;
}

/* positioning indicator line__1 */

.indicator__1 .line__1,
.indicator__2 .line__1,
.indicator__3 .line__1,
.indicator__7 .line__1,
.indicator__8 .line__1 {
  width: 100%;
  bottom: -0.8rem;
}

.indicator__4 .line__1,
.indicator__5 .line__1,
.indicator__6 .line__1 {
  width: 100%;
  top: -0.8rem;
}

/* positioning indicator line__2 */
.indicator__1 .line__2 {
  transform-origin: left;
  transform: translateX(100%) rotate(45deg);
  bottom: -0.8rem;
  right: 0.1rem;
  width: 15.6rem;
}

.indicator__2 .line__2 {
  transform-origin: left;
  transform: translateX(100%) rotate(40deg);
  bottom: -0.8rem;
  right: 0.1rem;
  width: 16rem;
}

.indicator__3 .line__2 {
  transform-origin: left;
  transform: translateX(100%) rotate(20deg);
  bottom: -0.8rem;
  right: 0.1rem;
  width: 22rem;
}

.indicator__4 .line__2 {
  transform-origin: left;
  transform: translateX(100%) rotate(-32deg);
  top: -0.8rem;
  right: 0.1rem;
  width: 17rem;
}

.indicator__5 .line__2 {
  transform-origin: right;
  transform: translateX(-100%) rotate(50deg);
  top: -0.8rem;
  left: 0.1rem;
  width: 25rem;
}

.indicator__6 .line__2 {
  transform-origin: right;
  transform: translateX(-100%) rotate(33deg);
  top: -0.8rem;
  left: 0.1rem;
  width: 15.6rem;
}

.indicator__7 .line__2 {
  transform-origin: right;
  transform: translateX(-100%) rotate(-35deg);
  bottom: -0.8rem;
  left: 0.1rem;
  width: 13rem;
}

.indicator__8 .line__2 {
  transform-origin: right;
  transform: translateX(-100%) rotate(-60deg);
  bottom: -0.8rem;
  left: 0.1rem;
  width: 15rem;
}

/* positioning the dots inside the indicatord */
.indicators .dot {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: var(--gray_3);
  border-radius: 50%;
}

.indicator__1 .line__1 .dot,
.indicator__2 .line__1 .dot,
.indicator__3 .line__1 .dot,
.indicator__4 .line__1 .dot {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.indicator__5 .line__1 .dot,
.indicator__6 .line__1 .dot,
.indicator__7 .line__1 .dot,
.indicator__8 .line__1 .dot {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.indicator__1 .line__2 .dot,
.indicator__2 .line__2 .dot,
.indicator__3 .line__2 .dot,
.indicator__4 .line__2 .dot {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.indicator__5 .line__2 .dot,
.indicator__6 .line__2 .dot,
.indicator__7 .line__2 .dot,
.indicator__8 .line__2 .dot {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

/* //////////////////////////////////////////////////// */
/* button in the service section */
.btn_service:is(:link, :visited) {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.17rem;
  line-height: 1;
  padding: 1.6rem 3.2rem;
  background: var(--primary_light);
  border-radius: 0.4rem;
  color: var(--primary_dark);
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s;
}

.service_btn_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15rem 25rem;
  z-index: 2;
}

.service_overlay {
  display: block;
  height: calc(100% + 26rem);
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary_dark);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s;
}

.service_btn_container:hover .btn_service {
  opacity: 1;
}

.service_btn_container:hover + .service_overlay {
  opacity: 0.4;
}

/* //////////////////////////////////////////// */
/* -------------- section gallery -------------- */
/* //////////////////////////////////////////// */
.section_gallery {
  overflow: hidden;
  padding: 10rem 0 12rem 0;
}

.gallery_container {
  position: relative;
  width: 150rem;
  margin: 0 auto;
  height: calc(50rem + 18rem);
  /* background-color: cornflowerblue; */
}

.section_gallery .highlight_txt {
  display: block;
  width: max-content;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-size: 19.6rem;
  line-height: 1;
  /* opacity: 0.3; */
  letter-spacing: 1.666rem;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.section_gallery .section_title {
  position: absolute;
  z-index: 3;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.168rem;
  font-weight: 500;
  color: var(--primary_dark);
  margin-top: 7rem;
  text-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
}

.background_highlight {
  display: block;
  width: 100vw;
  height: calc(100% + 24rem);
  background: linear-gradient(
    to right,
    rgba(199, 85, 49, 0.7),
    rgba(199, 61, 49, 0.75)
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(0.5rem);
  z-index: 2;
}

.gallery_img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + 3rem));
  height: 50rem;
  width: 86rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_img::after,
.gallery_img::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(217, 217, 217, 0.6),
    rgba(225, 230, 235, 0.7)
  );

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}

/* for the center image */
.gallery_img.center {
  transform: translate(-50%, calc(-50% + 3rem));
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  z-index: 3;
}

/* for the left image */
.gallery_img.left {
  transform: translate(calc(-50% - 60rem), calc(-50% + 3rem)) scale(0.8);
  z-index: 0;
}
.gallery_img.left::after {
  opacity: 1;
}

/* for the right image */
.gallery_img.right {
  transform: translate(calc(-50% + 60rem), calc(-50% + 3rem)) scale(0.8);
  z-index: -1;
}
.gallery_img.right::after {
  opacity: 1;
}

.gallery_container .gallery_img.center + .gallery_img.right {
  z-index: 1;
}

.gallery_container
  .gallery_img.center
  + .gallery_img.right
  + .gallery_img.right {
  z-index: 0;
}

/* ////////////// */
.btn_gallery {
  border: 0;
  outline: 0;
  height: 7rem;
  width: 8.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.4rem solid var(--primary_light);
  background: transparent;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  z-index: 3;
}

.btn_gallery.left {
  transform: translate(calc(-50% - 50rem), calc(-50% + 3rem));
}

.btn_gallery .icon {
  width: 3.2rem;
  color: var(--primary_light);
  stroke-width: 3;
  filter: drop-shadow(0 0.3rem 2rem rgba(0, 0, 0, 0.25));
}

.btn_gallery.right {
  transform: translate(calc(-50% + 50rem), calc(-50% + 3rem));
}

/* ------------------------------------------ */
.gallery_indicator_con {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.gallery_indicator_con .gallery_indicator {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--primary_light);
  transition: all 0.3s;
}

.gallery_indicator_con .gallery_indicator.active {
  opacity: 1;
  transform: scale(1.1);
}

/* //////////////////////////////////////////// */
/* ----------- Section testimonial ----------- */
/* //////////////////////////////////////////// */
.section_testimonial {
  padding: 12rem 0;
  background: var(--primary_light);
}

.testimonial_container {
  width: 150rem;
  padding-top: 15rem;
  position: relative;
  margin: 0 auto;
  /* background-color: cornflowerblue; */
}

.testimonial_container .highlight_txt {
  display: inline-block;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-transform: uppercase;
  font-size: 19.6rem;
  line-height: 1;
  letter-spacing: 1.666rem;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.section_testimonial .section_title {
  position: absolute;
  z-index: 3;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.168rem;
  font-weight: 400;
  color: var(--primary_red);
  margin-top: 7rem;
  text-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
}

.testimonial_container__1 {
  position: relative;
  z-index: 3;
  width: 100%;
  /* background-color: crimson; */
}

.testimonial_container___2 {
  display: flex;
  width: 100rem;
  padding: 3rem 6.5rem;
  overflow-x: hidden;
  margin: 0 auto;
  gap: 13rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* background-color: indianred; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.testimonial_container___2::-webkit-scrollbar {
  display: none;
}

.review_box {
  padding: 4rem;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.07);
  position: relative;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  /* border-radius: 1rem; */
}

.client_name {
  text-transform: uppercase;
  font-size: 3.2rem;
  color: var(--primary_dark);
  line-height: 1;
  text-align: center;
}

.client_review {
  font-size: 2.4rem;
  color: var(--gray_1);
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.review_highlight {
  font-family: "Bebas Neue", sans-serif;
  font-size: 12.8rem;
  line-height: 0.4;
  color: var(--primary_orange);
  position: absolute;
  left: 3rem;
  top: -1rem;
}

.testimonial_indicator_con {
  display: flex;
  width: fit-content;
  gap: 2.4rem;
  margin: 2rem auto 0;
}

.testimonial_indicator_con .testimonial_indicator {
  display: inline-block;
  height: 0.4rem;
  width: 3rem;
  border-radius: 3rem;
  background: var(--gray_2);
}

.testimonial_indicator_con .testimonial_indicator.active {
  background: var(--primary_red);
}
