@media (min-width: 125em) {
  html {
    font-size: 68.75%;
  }
}

@media (min-width: 143em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 106em) {
  html {
    font-size: 50%;
  }

  .main_nav {
    padding: 0 4.8rem;
  }

  .service_container__1_2 {
    grid-template-columns: minmax(32rem, 1fr) 1fr 1fr 1fr;
  }

  .category_row {
    padding-right: 2.4rem;
  }
}

@media (max-width: 75em) {
  .section_service {
    padding: 12rem 4.8rem;
  }

  .footer {
    padding: 8rem 4.8rem;
  }

  .service_container__1_2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .service_left_container {
    display: none;
  }

  .full_detail_container {
    grid-column: 1/1;
  }

  .premium_detail_container {
    grid-column: 2/2;
  }

  .signature_detail_container {
    grid-column: 3/3;
  }

  .interior_heading.hidden,
  .exterior_heading.hidden {
    display: inline-block;
    font-size: 2.4rem;
  }

  .detail_row {
    flex-direction: column;
    height: 14rem;
    gap: 1.2rem;
    padding: 0 3.2rem;
    opacity: 0.8;
  }

  .detail_row_category {
    display: block;
    font-size: 1.6rem;
    opacity: 0.6;
    color: var(--primary_dark);
    text-transform: uppercase;
    font-weight: 400;
  }
}
