.section_service_area {
  position: relative;
  width: 100%;
  padding: 12rem 8rem;
  overflow: hidden;
  background: var(--primary_light);
}

.service_area_container {
  position: relative;
  max-width: 150rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* background-color: dodgerblue; */
}

.shape_11 {
  position: absolute;
  z-index: 0;
  height: 66rem;
  width: 66rem;
  border-radius: 50%;
  background: var(--lite_red);
  right: -23rem;
  top: -4rem;
  filter: blur(30rem);
}

.shape_12 {
  position: absolute;
  z-index: 0;
  height: 66rem;
  width: 66rem;
  border-radius: 50%;
  background: var(--lite_blue);
  left: -29rem;
  bottom: -18rem;
  filter: blur(30rem);
}

.service_area_container__1_1 {
  width: 100%;
  position: relative;
  z-index: 2;
}

.section_service_area .highlight_txt {
  display: block;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 12.8rem;
  line-height: 1;
  letter-spacing: 1.666rem;
  margin: 0 auto;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.section_service_area .section_title {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.168rem;
  font-weight: 400;
  color: var(--primary_red);
  margin-top: 7rem;
  text-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
}

.service_area_container__1_2 {
  position: relative;
  width: 100%;
  /* background-color: darkseagreen; */
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.service_img_container {
  width: 100%;
  position: relative;
  /* background-color: crimson; */
}

.service_img_container picture {
  width: 100%;
  display: block;
}

.service_img_container img {
  width: 100%;
}

.service_area_map {
  position: relative;
  z-index: 2;
}

.service_area_map_shadow {
  position: absolute;
  left: 0;
  top: 0.5rem;
  filter: blur(0.6rem);
  z-index: 0;
}

/* ==============map location pins============== */
.service_img_container .i {
  position: absolute;
  z-index: 3;
  transform-origin: bottom;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--primary_dark);
}

.service_img_container .i::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 30%;
  width: 50%;
  background: var(--primary_dark);
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  filter: blur(0.3rem);
  opacity: 0.4;
}

.service_img_container .icon {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
}

.service_img_container .i::after {
  content: "";
  display: inline-block;
  width: max-content;
  position: absolute;
  top: -0.2rem;
  left: 50%;
  transform: translate(-50%, -100%);
  color: var(--primary_dark);
  text-shadow: -0.1rem -0.1rem 0.2rem white, 0.1rem -0.1rem 0.2rem white,
    -0.1rem 0.1rem 0.2rem white, 0.1rem 0.1rem 0.2rem white;
  font-weight: 600;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: capitalize;
  font-style: normal;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.service_img_container .i:hover {
  transform: scale(1.35);
  color: var(--primary_red);
  z-index: 4;
}

.service_img_container .i:hover::after {
  opacity: 1;
}

/* =========adding content to map pins========= */
.service_img_container .alexandria::after {
  content: "alexandria, va";
}
.service_img_container .vienna::after {
  content: "vienna, va";
}
.service_img_container .laurel::after {
  content: "laurel, md";
}
.service_img_container .mclean::after {
  content: "mclean, va";
}
.service_img_container .arlington::after {
  content: "arlington, va";
}
.service_img_container .rockville::after {
  content: "rockville, va";
}
.service_img_container .fort_belvoir::after {
  content: "fort belvoir, va";
}
.service_img_container .burke::after {
  content: "burke, va";
}
.service_img_container .annandale::after {
  content: "annandale, va";
}
.service_img_container .leesburg::after {
  content: "leesburg, va";
}
.service_img_container .catonsville::after {
  content: "catonsville, md";
}
.service_img_container .chantilly::after {
  content: "chantilly, va";
}
.service_img_container .adlie::after {
  content: "adlie, va";
}
.service_img_container .reston::after {
  content: "reston, va";
}
.service_img_container .gainesville::after {
  content: "gainesville, va";
}
.service_img_container .springfield::after {
  content: "springfield, va";
}
.service_img_container .annapolis::after {
  content: "annapolis, md";
}
.service_img_container .sterling::after {
  content: "sterling, va";
}
.service_img_container .lorton::after {
  content: "lorton, va";
}
.service_img_container .bethesda::after {
  content: "bethesda, va";
}
.service_img_container .glen_burnie::after {
  content: "glen burnie, md";
}
.service_img_container .clinton::after {
  content: "clinton, md";
}
.service_img_container .silver_spring::after {
  content: "silver spring, va";
}
.service_img_container .clifton::after {
  content: "clifton, va";
}
.service_img_container .falls_church::after {
  content: "falls church, va";
}

/* =============positioning map pins============ */
.alexandria {
  top: 58.71%;
  left: 56%;
  /* top: 32rem;
  left: 84rem; */
}
.vienna {
  bottom: 44.03%;
  left: 44.06%;
  /* bottom: 24rem;
  left: 66.1rem; */
}
.laurel {
  top: 27.88%;
  right: 28.46%;
  /* top: 15.2rem;
  right: 42.7rem; */
}
.mclean {
  top: 46.23%;
  left: 49.26%;
  /* top: 25.2rem;
  left: 73.9rem; */
}
.arlington {
  bottom: 42.01%;
  right: 44.53%;
  /* bottom: 22.9rem;
  right: 66.8rem; */
}
.rockville {
  top: 26.42%;
  left: 50.4%;
  /* top: 14.4rem;
  left: 75.6rem; */
}
.fort_belvoir {
  bottom: 22.56%;
  right: 48.46%;
  /* bottom: 12.3rem;
  right: 72.7rem; */
}
.burke {
  bottom: 32.29%;
  left: 44.33%;
  /* bottom: 17.6rem;
  left: 66.5rem; */
}
.annandale {
  bottom: 36.69%;
  left: 48.8%;
  /* bottom: 20rem;
  left: 73.2rem; */
}
.leesburg {
  top: 26.05%;
  left: 24.73%;
  /* top: 14.2rem;
  left: 37.1rem; */
}
.catonsville {
  top: 8.25%;
  right: 21.6%;
  /* top: 4.5rem;
  right: 32.4rem; */
}
.chantilly {
  bottom: 45.32%;
  left: 32.26%;
  /* bottom: 24.7rem;
  left: 48.4rem; */
}
.adlie {
  top: 40.36%;
  left: 19.4%;
  /* top: 22rem;
  left: 29.1rem; */
}
.reston {
  top: 42.93%;
  left: 36.53%;
  /* top: 23.4rem;
  left: 54.8rem; */
}
.gainesville {
  bottom: 29.54%;
  left: 22.93%;
  /* bottom: 16.1rem;
  left: 34.4rem; */
}
.springfield {
  bottom: 31.19%;
  right: 49.4%;
  /* bottom: 17rem;
  right: 74.1rem; */
}
.annapolis {
  top: 41.65%;
  right: 4.73%;
  /* right: 7.1rem;
  top: 22.7rem; */
}
.sterling {
  top: 36.69%;
  left: 33.53%;
  /* top: 20rem;
  left: 50.3rem; */
}
.lorton {
  bottom: 20.73%;
  left: 45.4%;
  /* bottom: 11.3rem;
  left: 68.1rem; */
}
.bethesda {
  top: 39.63%;
  right: 43.66%;
  /* top: 21.6rem;
  right: 65.5rem; */
}
.glen_burnie {
  top: 19.08%;
  right: 14.66%;
  /* top: 10.4rem;
  right: 22rem; */
}
.clinton {
  bottom: 31%;
  right: 31.86%;
  /* bottom: 16.9rem;
  right: 47.8rem; */
}
.silver_spring {
  top: 36.69%;
  right: 39.93%;
  /* top: 20rem;
  right: 59.9rem; */
}
.clifton {
  bottom: 33.02%;
  left: 34.06%;
  /* bottom: 18rem;
  left: 51.1rem; */
}
.falls_church {
  bottom: 44.4%;
  right: 49.2%;
  /* bottom: 24.2rem;
  right: 73.8rem; */
}

/* ==============map background name============== */
.map_name {
  font-family: "Bebas Neue", sans-serif;
  position: absolute;
  z-index: 1;
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 3rem;
  font-weight: 300;
  color: #fff;
  opacity: 1;
}

.map_name_1 {
  top: 36.69%;
  left: 26.66%;
  /* top: 20rem;
  left: 40rem; */
}
.map_name_2 {
  top: 36.69%;
  right: 7.33%;
  /* top: 20rem;
  right: 11rem; */
}

/* =============location name section============= */
.location_name_container {
  position: relative;
  z-index: 2;
}

.location_name_container_heading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 1;
  text-transform: uppercase;
  color: var(--primary_dark);
  letter-spacing: 0.32rem;
  text-align: center;
}
