@media (max-width: 75em) {
  .section_service_area {
    padding: 12rem 4.8rem;
  }
}

@media (max-width: 60em) {
  .service_img_container .icon {
    width: 2rem;
    height: 2rem;
  }

  .service_img_container .i::after {
    display: none;
  }

  .map_name {
    display: none;
  }

  .location_name_container .location_link:is(:link, :visited) {
    font-size: 1.6rem;
    padding: 1.2rem;
  }
}

/* max width 600px */
@media (max-width: 37.5rem) {
  .section_service_area .highlight_txt {
    font-size: 9.6rem;
  }
  .section_service_area .section_title {
    top: -4rem;
  }

  .service_area_container__1_2 {
    padding-top: 10rem;
    gap: 8rem;
  }

  .location_name_container_heading {
    font-size: 4.8rem;
    letter-spacing: 0.24rem;
  }

  .service_img_container i {
    display: none;
  }
}
