@media (max-width: 106em) {
  .service_container__1_2 {
    grid-template-columns: minmax(32rem, 1fr) 1fr 1fr 1fr;
  }

  .category_row {
    padding-right: 2.4rem;
  }
}

@media (max-width: 75em) {
  .section_service {
    padding: 12rem 4.8rem;
  }

  .service_container__1_2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .service_left_container {
    display: none;
  }

  .full_detail_container {
    grid-column: 1/1;
  }

  .premium_detail_container {
    grid-column: 2/2;
  }

  .signature_detail_container {
    grid-column: 3/3;
  }

  .interior_heading.hidden,
  .exterior_heading.hidden {
    display: inline-block;
    font-size: 2.4rem;
  }

  .detail_row {
    flex-direction: column;
    height: 14rem;
    gap: 1.2rem;
    padding: 0 3.2rem;
    opacity: 0.8;
  }

  .detail_row_category {
    display: block;
    font-size: 1.6rem;
    opacity: 0.6;
    color: var(--primary_dark);
    text-transform: uppercase;
    font-weight: 400;
  }
}

/* width less than 864px */
@media (max-width: 54em) {
  .section_service .highlight_txt {
    font-size: 12.8rem;
  }

  .service_container__1_2 {
    max-width: 76.8rem;
    margin: 0 auto;
    grid-template-columns: 1fr minmax(33rem, 1fr);
  }

  .detail_row_category {
    display: none;
  }

  .detail_row {
    height: 8rem;
  }

  .interior_heading.hidden,
  .exterior_heading.hidden {
    display: none;
  }

  .service_left_container {
    display: grid;
    grid-column: 1/1;
  }

  .full_detail_container {
    grid-column: 2/2;
    display: none;
  }

  .premium_detail_container {
    grid-column: 2/2;
    display: none;
  }

  .signature_detail_container {
    grid-column: 2/2;
    display: none;
  }

  .detail_container.active {
    display: flex;
  }

  .select_service_container {
    display: grid;
  }
}
