/* //////////////////////////////////////////// */
/* -------------------Header------------------- */
/* //////////////////////////////////////////// */
header {
  background: var(--primary_light);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* height: 100vh; */
}

.header_container {
  position: relative;
  width: 150rem;
  margin: 0 auto;
  padding: 20rem 0 15rem 0;
  /* background-color: darkseagreen; */
}

/* Header background shapes and texts */
header .highlight_txt {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 1rem), -75%);
  line-height: 1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 25.6rem;
  letter-spacing: 2.176rem;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.shape_1 {
  display: inline-block;
  position: absolute;
  background: var(--lite_blue);
  top: -10rem;
  left: 9.6rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  filter: blur(20rem);
  z-index: 0;
}

.shape_2 {
  display: inline-block;
  position: absolute;
  background: var(--lite_red);
  bottom: 10rem;
  right: -16.8rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  filter: blur(20rem);
  z-index: 0;
}

/* -------------Main Navigation------------- */
.main_nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 6.4rem;
  z-index: 1;
}

.main_nav div {
  padding: 3.2rem 0;
  border-bottom: 0.2rem solid var(--gray_2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.nav_link:is(:link, :visited),
.btn_contact {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.136rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray_1);
}

.btn_contact {
  height: 5rem;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  font-weight: 600;
  border: 0.3rem solid var(--primary_red);
  color: var(--primary_red);
}

/* -------------- Section Hero -------------- */
.section_hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  height: 100%;

  z-index: 2;
  /* background-color: crimson; */
}

.main_heading {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 12.8rem;
  font-weight: 500;
  letter-spacing: 1.024rem;
  width: 83rem;
  text-align: center;
  line-height: 0.9;
  color: var(--primary_dark);
}

.hero_img {
  width: 99rem;
  height: auto;
}

/* User count container */
.customer_count_container {
  position: absolute;
  bottom: 6.4rem;
  left: 6.7rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.customer {
  display: inline-block;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  border: 0.5rem solid var(--primary_light);
  background-size: cover;
  margin-left: -2rem;
}
.customer__1 {
  background-image: url(../assets/1.jpg);
}
.customer__2 {
  background-image: url(../assets/2.jpg);
}
.customer__3 {
  background-image: url(../assets/3.jpg);
}
.customer__4 {
  background-image: url(../assets/4.jpg);
}
.customer__5 {
  background-image: url(../assets/5.jpg);
}

/* customer count text */
.customer_count {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary_dark);
}
.customer_count .first_word {
  color: var(--primary_red);
}
.customer_count_container .red_line {
  display: inline-block;
  background: var(--primary_red);
  height: 0.25rem;
  width: 4.8rem;
  border-radius: 1.5rem;
  margin-top: 0.5rem;
}

.section_hero .i {
  margin: 4.8rem auto 0 auto;
}

.section_hero .icon {
  width: 3rem;
  stroke-width: 0.2rem;
}

/* //////////////////////////////////////////// */
/* ---------------About Section --------------- */
/* //////////////////////////////////////////// */
.section_about {
  position: relative;
  width: 100%;
  padding: 12rem 0;
  overflow: hidden;
}

.about_container {
  position: relative;
  width: 150rem;
  margin: 0 auto;
}

/* about heighlight texts and shapes */
.section_about .highlight_txt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary_light);
  text-transform: uppercase;
  font-size: 19.6rem;
  line-height: 1;
  letter-spacing: 1.666rem;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.section_about .shape_3 {
  position: absolute;
  left: -32rem;
  bottom: -24rem;
  width: 79rem;
  height: 79rem;
  border-radius: 50%;
  background: var(--lite_blue);
  filter: blur(30rem);
  z-index: 0;
}

.section_about .shape_4 {
  position: absolute;
  right: -19rem;
  top: -5rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  background: var(--lite_blue);
  filter: blur(20rem);
  z-index: 0;
}

.section_about .shape_5 {
  position: absolute;
  right: 26rem;
  top: -9rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  background: var(--lite_red);
  filter: blur(20rem);
  z-index: 0;
}

/* main about section */
.about_box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 68.5rem;
  grid-template-rows: auto auto;
  column-gap: 8rem;
  row-gap: 12rem;
  z-index: 2;
}

/* about text container */
.about_txt_container {
  grid-column: 1/1;
}

.section_title {
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.168rem;
  font-weight: 400;
  color: var(--primary_red);
  margin-top: 7rem;
  text-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.2);
}

.section_heading {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 6.4rem;
  letter-spacing: 0.32rem;
  font-weight: 400;
  color: var(--primary_dark);
  line-height: 1;
  margin-top: 2rem;
}

.about_txt {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray_3);
  margin-top: 1.6rem;
}

.section_about .btn_contact {
  color: var(--primary_dark);
  border-color: var(--primary_dark);
  margin-top: 4.8rem;
}

/* about image container */
.about_img_container {
  grid-column: 2/2;
  position: relative;
  width: 100%;
}

.about_shape_1 {
  position: relative;
  width: 100%;
  fill: var(--lite_blue);
  opacity: 0.45;
}

.about_shape_2 {
  position: absolute;
  left: 0;
  top: 3.6rem;
  width: 100%;
  filter: drop-shadow(0.7rem 0 2rem rgba(0, 0, 0, 0.25));
  transform: rotate(185deg);
}

.about_shape_3 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 3.6rem;
  transform: rotate(8deg) scale(0.94) translateX(0.5rem);
  fill: coral;
  z-index: 3;
  clip-path: url(#shape-clip);
}

/* about summery container */
.about_summery_container {
  grid-column: 1/3;
  grid-row: 2/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_summery_container .box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  text-transform: uppercase;
}

.about_summery_container .num {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  line-height: 1;
  font-weight: 400;
  color: var(--primary_red);
}

.about_summery_container .line {
  width: 0.2rem;
  height: 5rem;
  border-radius: 0.3rem;
  background: var(--gray_2);
}

.about_summery_container .txt {
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray_3);
  line-height: 1.3;
}
