header {
  background: var(--primary_light);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* height: 100vh; */
  padding: 20rem 0 15rem 0;
  /* background-color: darkseagreen; */
}

.main_nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 6.4rem;
  z-index: 1;
}

.main_nav div {
  padding: 3.2rem 0;
  border-bottom: 0.2rem solid var(--gray_2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.nav_link:is(:link, :visited),
.btn_contact {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.136rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--gray_1);
}

.btn_contact {
  height: 5rem;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  font-weight: 600;
  border: 0.3rem solid var(--primary_red);
  color: var(--primary_red);
}

/* -------------- Section Hero -------------- */
.section_hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 150rem;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
  /* background-color: crimson; */
}

.main_heading {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 12.8rem;
  font-weight: 500;
  letter-spacing: 1.024rem;
  width: 83rem;
  text-align: center;
  line-height: 0.9;
  color: var(--primary_dark);
}

.hero_img {
  width: 99rem;
  height: auto;
}

.user_count_box {
  position: absolute;
  bottom: 6.4rem;
  left: 6.7rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.user {
  display: inline-block;
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  border: 0.5rem solid var(--primary_light);
  background-size: cover;
  margin-left: -2rem;
}
.user__1 {
  background-image: url(../assets/1.jpg);
}
.user__2 {
  background-image: url(../assets/2.jpg);
}
.user__3 {
  background-image: url(../assets/3.jpg);
}
.user__4 {
  background-image: url(../assets/4.jpg);
}
.user__5 {
  background-image: url(../assets/5.jpg);
}

.user_count {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary_dark);
}
.user_count .first_word {
  color: var(--primary_red);
}

.section_hero .i {
  margin: 4.8rem auto 0 auto;
}

.icon {
  width: 2.4rem;
  stroke-width: 0.3rem;
}

/* Header background shapes and texts */
header .highlight_txt {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #fff;
  text-transform: uppercase;
  font-size: 25.6rem;
  letter-spacing: 2.176rem;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.shape_1 {
  display: inline-block;
  position: absolute;
  background: var(--lite_blue);
  top: -15rem;
  left: 18rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  filter: blur(20rem);
  z-index: 0;
}
.shape_2 {
  display: inline-block;
  position: absolute;
  background: var(--lite_red);
  bottom: 5rem;
  right: -5rem;
  width: 56rem;
  height: 56rem;
  border-radius: 50%;
  filter: blur(20rem);
  z-index: 0;
}
