<footer class="footer">
  <div class="footer_container">
    <a href="#" class="footer_logo">
      <img src="./assets/logo_light.png" alt="PENTAGON LOGO" />
    </a>

    <section class="footer_nav_section">
      <h2 class="footer_section_heading">links</h2>
      <nav class="footer_nav">
        <ul class="footer_nav_list">
          <li><a href="/" class="nav_link">home</a></li>
          <li><a href="service.html" class="nav_link">services</a></li>
          <li>
            <a href="service_area.html" class="nav_link">service area</a>
          </li>
          <li>
            <a href="gift_certificate.html" class="nav_link"
              >gift certificates</a
            >
          </li>
          <li>
            <a href="/?id=gallery" class="nav_link">gallery</a>
          </li>
          <li>
            <a href="/?id=testimonial" class="nav_link">testimonials</a>
          </li>
          <li>
            <a href="/?id=contact" class="nav_link">contact</a>
          </li>
        </ul>
      </nav>
    </section>

    <section class="footer_contact_section">
      <h2 class="footer_section_heading">contact</h2>
      <div class="footer_contact_container">
        <div class="footer_location_box">
          <i name="location" class="i"></i>
          <a href="" class="footer_contact_link"
            >14010 Mathews Dr. Woodbridge, VA 22191</a
          >
        </div>
        <div class="footer_phone_box">
          <i name="phone" class="i"></i>
          <a href="" class="footer_contact_link">240 - 297 - 4046</a>
        </div>
      </div>
    </section>

    <section class="footer_social_section">
      <h2 class="footer_section_heading">follow us</h2>
      <div class="footer_social_container">
        <i name="facebook" class="i"></i>
        <i name="instagram" class="i"></i>
        <i name="twitter" class="i"></i>
        <i name="pinterest" class="i"></i>
      </div>
    </section>

    <h3 class="copyright">
      Copyright © 2023, Pentagon Detailing All Rights Reserved
    </h3>
  </div>
</footer>
