<nav class="main_nav" id="main_nav">
  <!-- mobile navigation -->
  <div class="mobile_nav_btn">
    <i class="i" name="menu"></i>
    <i class="i" name="close"></i>
  </div>
  <!-- ----------------- -->

  <a href="set_appointment.html" class="btn_set_appointment">set appointment</a>

  <ul class="nav_list">
    <li class="nav_home_container">
      <a href="/" class="nav_link">home</a>

      <a href="/?id=gallery" class="nav_link">gallery</a>
      <a href="/?id=testimonial" class="nav_link">testimonials</a>
      <a href="/?id=contact" class="nav_link">contact</a>
    </li>

    <li><a href="service.html" class="nav_link">services</a></li>
    <li>
      <a href="service_area.html" class="nav_link">service area</a>
    </li>
    <li>
      <a href="gift_certificate.html" class="nav_link">gift certificates</a>
    </li>
    <li>
      <a href="set_appointment.html" class="btn_set_appointment"
        >set appointment</a
      >
    </li>
  </ul>

  <a href="#" class="logo">
    <img src="./assets/logo_dark.png" alt="PENTAGON LOGO" />
  </a>
</nav>
